.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.card {
    border: 1px solid #ddd;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease-in-out;
    background-color: #fff;
    color: #333;
    font-family: Arial, sans-serif;
}
.card:hover {
    transform: scale(1.05);
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
}
th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
button{
    width: 100px;
    height: 30px;
    color: rebeccapurple;
    background-color: wheat;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}